/* USE THESE COLORS */

/* 
  red: rgb(190, 38, 34);
  orange: rgb(255, 128, 0);
  yellow: rgb(255, 204, 0);
  dark red: rgb(105, 29, 34);
  green: rgb(0, 153, 51); 
  white
  black
  Note: feel free to add additional colors if you
  want to, & add opacity to these colors! 
  
  */

/* Base Styles  */

* {
  box-sizing: border-box;
}
/*  STEP 1: add a base font-size to the body element 
hint: use "font-size" property */
html {
}
/* Add margins to the body so that the content 
  doesn't reach the edges of the view screen
  hint: margin-left and right should be 'auto'
  margin-top and bottom can be zero */
body {
  max-width: 850px;
  margin: 0 auto;
  padding: 10px;

}

/* logo styling
1. Style the logo so that the text sits next to the image 
(hint: use flexbox styling for this)
2. apply some style to the logo text
3. apply margins or padding to the logo to position it */

.logo {
  display: flex;
  flex: 1;
  align-items: center;

}

/* STYLE THE NAV BAR! */
/* 
 1. use flexbox to make the navigation bar contents 
  display horizontally. Make the nav a flex container.
  2. adjust styling with colors! background colors,
  text colors, etc. Look at my example for an idea
  of ways to do this.
 */

nav {
  display: flex;
  align-items: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color:rgb(192, 61, 85);

}

.red {
  color: red;
  font-size: medium;
  font-weight: bold;
}

.orange {
  color: orange;
  font-size: medium;
  font-weight: bold;
}

.green {
  color: green;
  font-size: medium;
  font-weight: bold;
}
/* Link List Styling:
1. Make the ul a flex container so that the list items
inside of it display horizontally
2. remove the bullet point of the list items
  */
nav ul {
  display: flex;
  flex: 2;
  list-style-type: none;
  justify-content: flex-end;
}
/* Style the list items
1. adjust the font size (use rem units)
2. add padding to give the links some space 
 */

nav ul li {
  padding: 20px;
  margin: 5px 10px;

}

/* Adjust the style of the navigation links */
/* 1. Remove the underline for the links 
   2. Change the colors from black to something else
   3. Add margins so the links are easy to read
   4. Adjust the font styling (bold, font size, etc)
   */

li a {
  color: rgb(255, 247, 0);
  text-decoration: none;
  margin: 0 auto;
  font-size: medium;
  font-weight: bold;
  
}
/* Alter the colors here for links that have been visited,
are unvisited, are being clicked on, and are being hovered
over. */
li a:visited {
  color: rgb(255, 247, 0);
  text-decoration: none;
}
li a:hover {
  color: rgb(255, 247, 0);
  text-decoration: none;
}

li a:active {
  color: rgb(255, 247, 0);
  text-decoration: none;

}

/* Style the header 
    1. center the header text (text-align property)
    2. give the header section enough height to show the 
    background image   
      */

header {
  background-image: url("/images/food-banner.jpg");
  text-align: center;
  padding: 12px;
  height: 125px;
}
/* Make sure the header text is visible against the 
background image.
1. apply a font color
2. use some kind of background color 
behind the text if the 
text is hard to read. */
header h1 {
  opacity: 1;
  color: rgb(255, 247, 0);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* MAIN STYLING
* * * * * * * *  */
/* Make the recipe steps easier to read */
/* 1. make the content centered on the page.
   2. adjust the font-size, line-height, or other 
   text properties for readability. */
/*  

*/
main {
  max-width: 850px;
  text-align: justify;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.5rem;
}
/* Make the top "recipe summary" section stand out in some way.
For example, change the style of the text to be different
from other text on the page.
1. adjust the font-size
2. add padding and/or margins to make the text easy to read
3. adjust font styles, for example font-style: italic 
 */
.recipe-summary {
  text-align: center;
  font-style: oblique;
  font-size: 1.2rem;
  padding: 5px;
  margin: 5px;
}

.recipe-summary p {
  font-weight: 100;
}

/* Style the "Skip to Recipe Button */
/* This button should stand out. Most users of the 
site just want the recipe, and will be clicking this button.
1. give the button a contrasting text color (color) and background color
(background-color)
2. add a border-radius to make it look like a button
3. remove the underline from the link
4. add some padding so that the button text doesn't touch the 
button's border.
 */
.skip-to-recipe-btn {
  background-color: rgb(251, 159, 22);
  font-weight: bolder;
  text-decoration: none;
  border-radius: 80%;
  padding: 16px;
  color: rgb(192, 61, 85);

}


/*  STYLE THE BLOG TEXT
1. adjust the line height to make this section's 
text easier to read
2. adjust the padding so that the text never sits 
right against the edge of the screen at any screen size
3. make any other style adjustments you want for 
readability*/

.blog p {
  max-width: 850px;
}

/* STYLE THE RECIPE SECTION */
/* Make the recipe section stand out
  1. give it a background color, but make sure 
  it is still readable
  (hint: make the color semi transparent) 
  2. Add some type of border style to the recipe section 
  3. adjust font styles 
  4. adjust padding to make content in this section easier
  to read 
  5. create a bottom margin between this section and the footer*/

.current-recipe {
  background-color: rgb(249, 116, 140);
  border-radius: 2%;
  padding: 30px;
}

/* Add a frame around the recipe image 
  1. create the frame with a border
    hint, use the "border" property with 3 values, 
    i.e. 'border: 1px solid black;' 

  2. adjust the distance from the frame to the 
  image using padding. */

.current-recipe img {
  max-width: 525px;
  border: 5px solid rgb(255, 247, 0);
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

/* Style the footer content
1. give it a text and background color with good contrast
2. center the text 
3. give the footer some height
4. use padding or margins to make the text readable
5. adjust the font-size  */
footer {
  background-color: rgb(192, 61, 85);
  color: rgb(255, 247, 0);
  text-align: center;
  font-size: smaller;
  line-height: 1.2rem;
  padding: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer-a {
  background-color: rgb(192, 61, 85);
  color: rgb(255, 247, 0);
  text-decoration: none;

}
